<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <title>Document</title>
</head>
<body>
<div class="v18_72">
    <span class="v18_76">Входные данные:</span>
    <span class="v18_124">Информация:</span>
    <span class="v18_105">Результат:</span>
    <div class="v18_94">
        <div class="v18_73">
            <span class="v18_81">
            <input type="text" id="temperature" placeholder="Температура">
            </span>
        </div>
    </div>
    <div class="v18_125">
        <div class="v18_126"></div>
        <span class="v18_127">ML метод:</span>
    </div>
    <div class="v18_109"></div>
    <div class="v18_95">
        <div class="v18_75">
        <span class="v18_81">
        <input type="text" id="time" placeholder="Время">
        </span>
        </div>
    </div>
    <div class="v18_128">
        <div class="v18_129"></div>
        <span class="v18_130">R2:</span>
    </div>
{#    <div class="v18_123"></div>#}
    <div class="v18_92">
        <div class="v18_84">
        <span class="v18_81">
        <input type="text" id="Ux" placeholder="Ux">
        </span>
        </div>
    </div>
    <div class="v18_131">
        <div class="v18_132"></div>
        <span class="v18_133">MSE:</span>
    </div>
    <div class="v18_91">
        <div class="v18_86">
            <span class="v18_81">
        <input type="text" id="Uy" placeholder="Uy">
            </span>
        </div>
    </div>
    <div class="v18_90">
        <div class="v18_88">
            <span class="v18_81">
        <input type="text" id="Uz" placeholder="Uz">
            </span>
        </div>
    </div>
    <div id="applyButton" class="v18_96">
        <button class="v18_142">Обработать</button>
    </div>
    <div id="clearButton" class="v18_141">
        <button class="v18_142">Очистить</button>
    </div>
    <div class="name"></div>
    <div class="name"></div>
    <div id="imageContainer" class="v18_121">

    </div>
    <div class="v18_144"></div>
    <span class="v18_145">Сделано удавами на питоне</span>
</div>
</body>
</html>
